{% extends 'base.html' %}
{% load static %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

            <!-- six_box-->
            <div id="about" class="about top_layer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pppp">
                            <div class="about_box">
                                <div class="about_box_text">
                                    <div class="title">
                                        <h2>About <strong class="black"> us</strong></h2>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumyLorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy eirmod tempor invidunt ut labore et doloremagna aliquyam erat, sed diam voluptua con tremum bombe.Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy eirmod tempor invidunt ut labore et doloremagna aliquyam erat, sed diam voluptua con tremum bombe.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 pppp">

                            <div class="about_box_img">
                                <figure><img src="{% static 'images/about_img.png' %}" alt="#" /></figure>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end six_box-->


{% endblock %}