{% extends 'base.html' %}
{% load static %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

 <!-- yoga online -->
            <div id="online" class="yoga">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <h2>The Benefits<strong class="black"> of Yoga Online</strong></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="yoga_box">
                                <figure><img src="{% static 'images/yogoimg.jpg' %}" alt="#" /></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end yoga online -->


{% endblock %}